<div class="header d-flex justify-content-center w-100">
  <div class="title">Choisissez votre type de crédit</div>
</div>
<div class="row cards">
  <div class="col">
    <div class="card" [routerLink]="['/simulation/consomation']">
      <p>Credit a la consomation</p>
      <span class="material-icons">arrow_forward</span>
    </div>
    <div class="card" [routerLink]="['/simulation/immobilier']">
      <p>Credit immobilier</p>
      <span class="material-icons">arrow_forward</span>
    </div>
    <div class="card" [routerLink]="['/simulation/presurgage']">
      <p>Pré sur gage</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>
</div>
