.login-container {
  height: 100vh;
  width: 100%;
}
.login-container img {
  height: 100%;
  width: 100%;
  box-shadow: 4px 0px 5px 3px rgba(173, 158, 158, 0.84);
}
.input-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: none;
}
.header-container {
  width: 100%;
  text-align: center;
  height: 10%;
}
.back-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 3% 0 0;
}
.material-icons {
  font-size: 35px;
  margin: auto 0;
  cursor: pointer;
  color: #742484;
}
.material-icons:hover {
  color: #f0c22b;
}
.img-header {
  width: 50% !important;
  box-shadow: none !important;
}
.body-container {
  width: 95%;
  height: 67%;
  margin: auto;
  border-radius: 15px;
}
.title {
  text-align: center;
  color: #742484;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 1%;
  letter-spacing: 1px;
}

.body-container p {
  text-align: center !important;
  text-shadow: 0 0 2px #74248494;
  letter-spacing: 1px;
  width: 100%;
}
.body-container input {
  border-radius: 12px;
  padding: 10px;
}
.forgot-password-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forgot-password {
  margin-left: auto;
  width: 30%;
  text-align: end;
  color: #742484;
  font-weight: 400;
  cursor: pointer;
}
.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-container button {
  width: 40%;
  background-color: #742484;
  color: white;
  border-radius: 15px;
}
.button-container button:hover {
  color: #f0c22b !important;
}
.signUp-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: end;
}
.signUp-container span {
  margin-left: 3%;
  letter-spacing: 1px;
  cursor: pointer;
  color: #742484;
  font-weight: 700;
}

/* la modale */
/* la modale */
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modale {
  width: 80%; /* Adjust the width for larger screens */
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.418);
  height: auto; /* Make the height dynamic based on content */
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  transition: 1s ease;
}

.opacity-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: -1;
}

.modale-header,
.modale-footer {
  padding: 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.modale-footer {
  margin-top: 10%;
  justify-content: flex-end;
}

/* Styles for the buttons (adjust according to your preferred style) */
.btn {
  padding: 4px 8px;
  margin-left: 8px;
}

/* Responsive adjustments */
@media (min-width: 576px) {
  .modale {
    width: 60%;
  }

  @media (min-width: 768px) {
    .modale {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    .modale {
      width: 40%;
    }
  }

  @media (min-width: 1200px) {
    .modale {
      width: 30%;
    }
  }
}
/* pour la responsivité  */
@media screen and (max-width: 600px) {
  .forgot-password {
    min-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .forgot-password {
    min-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .cover-image {
    display: none !important;
  }
}
