<div class="container-fluid">
  <div class="bg-fond"></div>

  <div class="card-container">
    <div
      class="progress mx-auto"
      role="progressbar"
      aria-label="Example with label"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
      style="
        width: 90%;
        margin-top: 3%;
        background-color: #feb600;
        transition: 0.3s ease;
      "
    >
      <div
        class="progress-bar"
        style="width: 26%; background-color: #722182; transition: 0.3s ease"
      >
        26%
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
