@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}

.container {
  width: 65%;
  padding: 1%;
  margin: 0 auto;
  max-height: 70%;
  overflow-y: auto;
}

.title {
  font-size: 25px;
  color: rgb(110, 112, 112);
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center; /* Centrer le texte horizontalement */
}

.container input {
  margin-top: 2%;
  box-shadow: 0 0 5px 1px rgba(126, 125, 125, 0.24);
  width: 100%; /* Utiliser la largeur complète du conteneur parent */
  padding: 10px;
  border-radius: 12px;
}

.input-container {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-container .form-group {
  flex: 1; /* Distribuer l'espace également entre les éléments enfants */
  margin-left: 8px; /* Ajouter une marge entre les éléments */
  margin: auto;
}
label {
  font-size: 20px;
  color: rgb(109, 109, 109);
  font-weight: 500;
}
.btn {
  border-radius: 15px;
  background-color: rgba(114, 33, 130, 1);
  border: none;
}
.btn:hover {
  background-color: rgb(102, 32, 116);
}
span {
  color: rgb(109, 109, 109);
  cursor: pointer;
  border-radius: 12px;
  padding: 10px;
}
