<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Choisissez votre type de crédit</div>
</div>
<div class="row cards translate">
  <div class="col">
    <div class="card">
      <p>Produit électronique et électroménager</p>
      <span class="material-icons">arrow_forward</span>
    </div>
    <div class="card">
      <p>Meubles et accessoires de maison</p>
      <span class="material-icons">arrow_forward</span>
    </div>
    <div class="card">
      <p>Véhicule à usage touristique</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>
</div>
