/* translate.animation.css */

@keyframes translate {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate {
  animation: translate 0.5s ease;
}

.header {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-top: 3%;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(43, 43, 43);
}
.cards {
  width: 60%;
  margin-top: 1%;
  height: 70%;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
  padding: 8px 4px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 80px;
  cursor: pointer;
  text-align: start;
  transition: 0.3s ease;
  border: none;
  background-color: rgb(255, 255, 255);
  width: 70%;
}
.card:hover .material-icons {
  color: rgba(254, 182, 0, 1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 12px 1px rgba(138, 136, 136, 0.5);
}

.card p:hover {
  color: rgb(2, 2, 2);
}

.card p {
  font-size: 25px;
  font-weight: 500;
}
