<div class="header d-flex justify-content-center w-100 translate">
  <div class="title">Choisissez votre type de crédit</div>
</div>
<div class="row cards translate">
  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card" [routerLink]="['/simulation/form']">
      <p>Achat d'un logement auprès d'un particulier</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Achat d'un logement auprès d'un promoteur</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Achat d'un logement formule "Vente Sur Plan"</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Acquisition d'un local commercial en "VSP"</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Coopérative immobilière</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Aménagement</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Construction d'une habitation individuelle</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Construction zone rurale</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-4">
    <div class="card">
      <p>Extension d'une habitation individuelle</p>
      <span class="material-icons">arrow_forward</span>
    </div>
  </div>
</div>
