<div class="container-fluid">
  <div class="img-container">
    <img class="img-bg-home" src="../../assets/bg.jpg" alt="" />
    <div class="bg-fond-black"></div>
  </div>
  <div class="card-container">
    <div class="logo-container">
      <img src="../../assets/bankLogo.png" />
    </div>
    <div class="title-container">
      Une demande de financement
      <span class="sous-title">
        Découvrez une expérience exceptionnelle. Connectez-vous pour profiter de
        fonctionnalités exclusives.</span
      >
    </div>
    <div class="cards">
      <div class="card">
        <span class="material-icons"> business </span>
        <p>Je suis une entreprise</p>
      </div>
      <div class="card">
        <span class="material-icons"> person </span>
        <p>Je suis un particulier</p>
      </div>
      <div class="card">
        <span class="material-icons"> forward </span>
        <p>Suivre ma demande</p>
      </div>
    </div>
  </div>
</div>
